.account_holder {
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
  gap: 1rem;
  padding: 0 1rem;
  border: 2px solid DimGrey;
  font-size: 1.5rem;
}

.hed_cat {
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #c0c0c0;
  background-color: #c0c0c0;
  margin: auto;
  font-size: 2rem;
}

.prosmotr {
  align-items: center;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #c0c0c0;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  margin-bottom: 100px;
}

.catsinfo {
  background-color: #d3d3d3;
  border: 2px solid DimGrey;
  width: 300px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.exit_button {
  background-color: red;
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}

.add_new_cat {
  background-color: #d3d3d3;
  font-size: 30px;
  height: 40px;
  width: 300px;
  padding-left: 50px;
  border: 2px DimGrey solid;
  padding-bottom: 10px;
}
