{% extends 'layout.html' %}

{% block title %} Личный Кабинет ({{ g.user.login }}) {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
{% endblock %}

{% block body %}
<div class="account_holder">
    <p>Профиль: {{ g.user.login }}</p>
    <form method="post" action="{{ url_for('logout') }}">
        <button type="submit" class="exit_button">Выйти</button>
    </form>
</div>

<div class="add_new_cat">
    <a href="{{ url_for('new_cat') }}">Добавить Кошку</a>
</div>

<h2 class="hed_cat">Ваши Коты:</h2>
<div class="prosmotr">
{% if cats %}
    {% for cat in cats %}
        <div class="catsinfo">
            <div>{{ cat.name }}</div>
            <div>{{ cat.breed }}</div>
            <div>{{ cat.gender }}</div>

            <a href="{{ url_for('cat_profile', cat_id=cat.id) }}">
              Страница: {{ cat.name }}
            </a>

            <img
              class="cats-image"
              src="{{ url_for('static', filename='photos/' + cat.photo) }}"
              width="200"
              height="100"
            />

            <form method="post" action="{{ url_for('delete_cat', cat_id=cat.id) }}">
                <button type="submit" class="exit_button">удалить</button>
            </form>
        </div>
    {% endfor %}
{% else %}
    <p>Вы пока еще не загружали котов :(</p>
{% endif %}
</div>
{% endblock %}
