{% extends 'layout.html' %}

{% block title %} Приветсвтуем на сайте "Найди кота" {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block body %}
  <main>
      <form class="search-form">
          <label for="search" class="search-label">Поиск</label>
          <input class="search-input" type="search" name="search" id="search" value="{{ search }}">
          <button type="submit" class="search-btn">Найти</button>
      </form>
      <div class="all-cats">
          {% for cat in cats %}
              <div class="cats-info">
                  <div>Кличка: {{ cat.name }}</div>
                  <div>Порода: {{ cat.breed }}</div>
                  <div>Пол: {{ cat.gender }}</div>
                  <img class="cats-image" src="{{ url_for('static', filename='photos/' + cat.photo) }}"  width="200" height="100">
                  <a href="{{ url_for('cat_profile', cat_id=cat.id) }}">Страница: {{ cat.name }}</a>
              </div>
          {% endfor %}
      </div>
  </main>
{% endblock %}
